@font-face {
    font-family: Lato-Light;
    src: url(../src/assets/Lato/Lato-Light.ttf);
}
body{
    font-family: Lato-Light;
}

input[type="text"] {
    outline: none;
    background-color: #FFFFFF;
    border: 0;
    border-bottom: 2px solid #89c146;
}
input[type="range"]{
    background-color: #89c146;
}